@font-face {
    font-family: AndyBold;
    src: local('Andy Bold'), url('../fonts/Andy Bold.ttf')
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}


#root {
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: AndyBold, sans-serif;
    color: white;
    user-select: none;
}

body {
    background: #4955BA;
    
}
