@font-face {
    font-family: AndyBold;
    src: local('Andy Bold'), url('../fonts/Andy Bold.ttf')
}


#root {
    display: flex;
    justify-content: center;
    font-family: AndyBold, sans-serif;
    color: white;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #4955BA;
    
}